.roomBackground1 {
  min-height: 100dvh;
  width: 100vw;
  background: url('/assets/backgrounds/room6-bg1.png') center/cover no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 2rem;
}

.roomBackground2 {
  min-height: 100dvh;
  width: 100vw;
  background: url('/assets/backgrounds/room6-bg1.png') center/cover no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 2rem;
}

.battlefield {
  margin-bottom: 2.5rem !important;
}

.leftSide {
  margin-bottom: 6rem !important;
}